<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<style>
    body{
      background-color: aqua;
    }
    h4{
    color:  rgb(33, 140, 182) ;
    /* font-size: medium; */
    }
    h4:hover{
        color: rgb(30, 131, 81);
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color:rgb(167, 168, 169);">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fs-5 ms-5"style="color:black;" aria-current="page" href="{%url 'book-lists'%}"><h4>HOME</h4></a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-5 fs-5" style="color:black;" href="{%url 'book-add'%}"><h4>ADD BOOK</h4></a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" style="color:rgb(225, 17, 17);margin-left: 800px;" href="{%url 'logout'%}">LOGOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 

    {%block body_block%}

    {%endblock%}
 
</body>
</html>